<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
      <a class="navbar-brand" href="{{@root.site.url}}">
        <img src="{{{uiRootPath}}}/img/chateaulav-w-96.png" alt="chateaulav" />
      </a>
    <div class="panels">
{{> nav-menu}}
{{> nav-explore}}
    </div>
  </aside>
</div>
